%h2 Movies!!!
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Title
      %th Release Date
      %th Genre
  %tbody
    - @movies_by_genre.each do |genre, movies|
      - movies.each do |movie|
        %tr
          %td
            = movie["title"]
          %td
            = movie["release_date"]
          %td
            = genre
