.panel-body
  = panel_row("Email Address", review.user_email)
  = panel_row("Review Date", extract_date(review.created_at))
  = panel_row("Rating (out of 10)", review.rating.to_s)
  = panel_row("Comment", review.comment) if review.comment.present?
